.video-container {
  width: 75vw;
}

.video-container>div {
  width: fit-content;
  margin: auto;
  position: relative;
}

video {
  width: 60vw;
  height: 40vw;
}

.mini-video {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 4.5vw;
}

.end-call-btn-container {
  position: absolute;
  bottom: 25px;
  width: 100%;
}

.end-call-btn {
  background-color: #d1153d;
  padding: 15px 17px;
  border-radius: 50%;
  color: white;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}

.end-call-btn > svg{
  transform: rotate(-135deg);
  font-size: 20px;
}