.video-container {
  width: 75vw;
}

.video-container>div {
  width: fit-content;
  margin: auto;
  position: relative;
}

video {
  width: 60vw;
  height: 40vw;
}

.mini-video {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 4.5vw;
}